* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav__links {
  display: flex;
  justify-content: space-around;
}

.moviecard {
  margin: 2rem;
  text-align: center;
  background: linear-gradient(300deg, rgba(7,89,64,1) 0%, rgba(141,255,222,1) 100%); 
  box-shadow: 0px 2px 5px black;
  transition: 0.3s all ease-in-out;
  padding: 1rem;
  height: 8rem;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
}

.moviecard:hover {
  color:white;
  font-size: 1.1rem;
  background: rgb(2, 128, 63);
  /* background: rgb(0,122,85); */
  box-shadow: 0px 3px 8px black;
}

.moviecards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.users__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users__item {
  border: 1px solid black;
  margin: 2rem;
}

.user__info {
  /* text-align: center; */
  /* padding: 2rem; */
  
  background-color: aqua;
}

.users__nav {
  display:flex;
  justify-content: space-evenly;
}

#bonjour {
  font-family: Junkyard;
  font-size: 10rem;
  text-align: center;
}